/** Configured For Applets **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  location: 0;
  yoffset: -50;
  xoffset: -20;
}
@import "/etc/rofi/themes/DarkBlue.rasi"
@theme "/etc/rofi/themes/arthur.rasi"
