result
mcamp
modules/home/apps/rofi/config.rasi
modules/home/cli/ranger/configs/plugins/__pycache__
.direnv
nixos-amazon-image-23.05.20230912.e5f018c-x86_64-linux.vhd
.jupyter
.ipynb_checkpoints
.pre-commit-config.yaml
packages/blog/Campground/public
packages/blog/Campground/themes/hugo-theme-stack
packages/blog/Campground/.hugo_build.lock
packages/blog/Campground/resources/_gen
packages/blog/Campground/assets/jsconfig.json
node_modules
**.qcow2
test.json
.terraform
packages/examples/aws-lambda-image/.terraform.lock.hcl
packages/scripts/vault-scripts/vault
.terraform.lock.hcl
config.tf.json
result-man
packages/examples/hello-zig/.zig-cache
