[user]
	name = Matt Camp
	email = mcamp.ctr@kr.af.mil
[core]
	editor = nvim
[alias]
	track-all-branches = "!git fetch --all && for remote in `git branch -r`; do git branch --track ${remote#origin/} $remote; done && git fetch --all"
