[user]
	name = Matt Camp
	email = matt@matt-camp.com
[core]
	editor = nvim
[alias]
	track-all-branches = "!git fetch --all && for remote in `git branch -r`; do git branch --track ${remote#origin/} $remote; done && git fetch --all"
