#stats,
#stats-drawer {
  margin: 0 5px;
  padding: 0 5px;
  color: @peach;
  font-weight: bold;
  background: transparent;
}
#battery,
#cpu,
#memory,
#temperature,
#disk,
#network {
  padding: 0 7px;
  margin: 0 2px;
  background-color: transparent;
}

/* Unique colors for modules */
#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}
#temperature {
  color: @green;
}

#network {
  color: @blue;
}

#network.disconnected {
  background-color: transparent;
}

#temperature.critical {
  background-color: transparent;
}

