#workspaces {
  margin: 0 5px;
  padding: 0 5px;
  color: @peach;
  font-weight: bold;
  background: transparent;
}

#workspaces label {
  font-family: MonaspiceNe Nerd Font;
  font-size: 18px;
}

#workspaces button {
  padding: 0 5px;
  margin: 0 2px;
  background-color: transparent;
  color: @text;
  border: none;
  transition: all 0.3s ease;
}

#workspaces button.empty {
  color: @overlay0;
  opacity: 0.5;
}

#workspaces button.visible {
  color: @blue;
}

#workspaces button.active {
  color: @green;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @red;
}
